include ../caption/caption
include ../input/input
include ../button/button
include ../values/values

mixin section(props = {})
  -
    let { items = [], caption, buttonAdd, buttonRemove, template } = props;
    let className = 'section';
    let classNames = `${className} js-${className}`;
  div(class=classNames)
    div(class=`${className}__caption`)
      +caption(caption)
    div(class=`${className}__items js-${className}__items`)
      if isControl
        div(class=sectionItemClasses, data=data, data-type=type, data-property=property)
          +values(props)
      else
        each item in items
          -
            let { data } = item || {};
            let { type, property } = data || {};
            let sectionItemClass = `${className}__item`;
            let sectionItemClasses = `${sectionItemClass} js-${sectionItemClass}`;
          div(
            class=sectionItemClasses,
            data=data,
            data-type=type,
            data-property=property
          )
            if property === 'values'
              +values({ buttonAdd, buttonRemove, template, ...item })
            else
              +input(item)
