mixin section(props = {})
    -
        let { items = [], label } = props;
        let className = 'section';
        let classNames = `${className}`;
    div(
        class=classNames
    )   
        .section__label
            +caption(label)
        .section__items.js-section__items
            - let index = 0;
            each item in items
                -
                    
                    let { isControl, buttonAdd } = item || {};
                    let sectionItemClass = 'section__item';
                    let sectionItemClasses = `${sectionItemClass}`;
                    if (isControl) {
                        item.key = index;
                        sectionItemClasses += ` ${sectionItemClasses}_control js-${sectionItemClasses}_control`;
                        sectionItemClass += index === 0 ? ` ${sectionItemClasses}_first js-${sectionItemClasses}_first` : ''
                        index += 1;
                    }
                div(
                    class=sectionItemClasses
                )
                    if buttonAdd
                        +button(buttonAdd)
                        //- +button({
                        //-     data: { type: 1 },
                        //-     type:"button",
                        //-     content:"&#x271A;",
                        //-     isControl: isControl,
                        //-     isAdd: true,
                        //-     title: "Add"
                        //- })
                    +input({...item, isFirst})
                            