include ../caption/caption
include ../input/input
include ../button/button
include ../values/values

mixin section(props = {})
  -
    let { items = [], caption, isControl, data } = props;
    let className = 'section';
    let classNames = `${className} js-${className}`;
  section(class=classNames) 
    div(class=`${className}__caption`)
      +caption(caption)
    div(class=`${className}__items js-${className}__items`)
      if isControl
        -
          let sectionValuesClass = `${className}__values`;
          let sectionValuesClasses = `${sectionValuesClass} js-${sectionValuesClass}`;
        div(class=sectionValuesClasses, data=data)
          +values(props)
      else
        each item in items
          -
            let sectionItemClass = `${className}__item`;
            let sectionItemClasses = `${sectionItemClass} js-${sectionItemClass}`;
          div(class=sectionItemClasses)
            +input(item)
