include ../link/link
include ../label/label
include ../button/button

mixin input(props)
  if props
    -
      let { label, type = 'number', value, data, link, isDisabled } = props;
      let isChecked = Boolean(value && type === "checkbox");
      let className = 'input';
      let classNames = `${className} js-${className}`;
      let id = Math.random().toString(16).substr(2);
      if (label) {
          label = { ...label, id };
      }
    div(class=classNames, data-data=data)
      if link
        div(class=`${className}__link`)
          +link(link)
      if label
        div(class=`${className}__label`)
          +label(label)
      div(class=`${className}__section`) 
        input(
          type=type,
          id=id,
          checked=isChecked,
          value=value,
          class=`${className}__input js-${className}__input`,
          disabled=isDisabled
        )
