mixin input(options = {})
    -
        let { classNames=[], label, type='number', id='', content='', value, key='', control } = options;
        let checked = value ? true : false;
        classNames = classNames.join(' ');
    .input(
        class = classNames
    )
        +label(label, 'input__label')
        .input__section
            if (key)
                span.input__section-key=key
            input.input__input(
                type=type
                id=id
                checked=checked
                value=value
            )
            if (control)
                +button({
                    data:{type:1},
                    type:"button",
                    classNames:["section__button-control"],
                    content: "&#x2795;",
                })
                +button({
                    data:{type:0},
                    type:"button",
                    classNames:["section__button-control"],
                    content:"&#x274C;",
                })