mixin caption(props)
  if props
    -
      let { content, theme } = props;
      let className = 'caption';
      let classNames = `${className}`;
      let themes = {
          section: 'section',
      };
      classNames += themes[theme] ? ` ${className}_theme_${themes[theme]}` : '';
    h3(class=classNames)
      span(class=`${className}__content`)= content
