mixin button(options = {})
    -
        let {classNames=[], type='button', content, data = {}, title = ''} = options;
        classNames = (classNames || []).join(' '); 
    .button(
        class=classNames
    )
        if content
            button.button__button(
                type=type
                data=data
                title=title
            )
                span.button__content !{content}