mixin button(props)
  if props
    -
      let { type = 'button', content, data = {}, title } = props;
      let className = 'button';
      let classNames = `${className} js-${className}`;
    if content
      button(type=type, data=data, title=title, class=classNames)
        span(class=`${className}__content `) !{content}
